<html ng-app="myFilter">
  <head>
    <title>Angular js </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="filterModules.js"></script>
  </head>
  <body>
    <div ng-controller="filterCon">
        <input type="text" ng-model="search" placeholder="search car name">
        <ul>
            <li ng-repeat="iteam1 in newData | limitTo:search ">
                {{iteam1}}
            </li>
        </ul>
    </div>
  </body>
</html>