<html ng-app="myDataMod2">
  <head>
    <title>Angular js </title>
    <script src="angularjs.js"></script>
    <script src="eventModules.js"></script>
  </head>
  <body>
    <div ng-controller="myDataController2">
      <button ng-click="number=number+1">Submit</button><br>
      <button ng-click="myFun()">ALERT</button><br>
      <button ng-dblclick="myFun()">ALERT</button><br>
      <button ng-mosueover="myFun()">ALERT</button><br>
      <textarea ng-change="myFun2()" ng-model="val"></textarea>
      <h1>{{val}}</h1>
			<h1>{{number}}</h1>
    </div>
  </body>
</html>